.app {
	text-align: center;
	padding-top: 50px;
}

.container {
	margin: 12% 20%;
	background-color: #5c7de1;
	height: 450px;
	width: 500px;
	border: 27px solid rgb(99, 99, 216);
	border-radius: 20px;
	box-shadow: 3px 4px 8px lightblue;
	color: darkslateblue;
}

.display {
	margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 15px;
	color: darkblue;
	background: lightblue;
	height: 80px;
	width: 90%;
	text-align: center;
	font-size: 45px;
}

.outcome {
	margin: 20px;
	padding: 10px;
	border-radius: 15px;
	border: none;
	background: lemonchiffon;
	height: 80px;
	width: 90%;
	text-align: center;
	font-size: 55px;
	color: crimson;
}

.operators {
	height: 120px;
}

.operand {
	height: 70px;
	width: 70px;
	margin: 10px;
	border-radius: 15px;
	border: none;
	background-color: orangered;
	color: azure;
	font-size: 37px;
	cursor: pointer;
}

.operand:hover {
	background-color: lightgreen;
	color: darkcyan;
}

.nums {
	height: 100px;
	width: 90%;
	display: flex;

	display: grid;
	grid-template-areas:
		"button button button button button"
		"button button button button button";
	gap: 12px;
	padding-left: 10%;
}

.button {
	height: 60px;
	width: 60px;
	border-radius: 20%;
	border: none;
	font-size: 35px;
	cursor: pointer;
	color: darkblue;
}

.button:hover {
	background-color: yellow;
	color: crimson;
}
